.about {
  background-color: #fff;

  &__wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding-top: 90px;
  }

  &__img-container {
    margin: 0 auto;
  }

  &__content {

    &-title {
      font-family: Georgia, "Times New Roman", Arial, serif;
      font-size: 35px;
      color: $text-darkGray;

      padding-bottom: 35px;
    }

    &-text {
      font-family: Arial, serif;
      font-size: 15px;
      color: $text-darkGray;

      padding-bottom: 35px;
      width: 430px;
    }

  }
}
