.footer {
  position: relative;
  height: 360px;
  background-image: url(../images/bg-footer.png);
  background-position: center;
  background-size: cover;
  @media (max-width: 800px) {
    height: 550px;
  }
  @media (max-width: 400px) {
    height: 500px;
  }
  @media (max-width: 330px) {
    height: 550px;
  }

  &__wrap {
    display: flex;
    justify-content: flex-start;
    gap: 70px;

    @media (max-width: 1060px) {
      justify-content: center;
      gap: 20px;
    }

    @media (max-width: 800px) {
      flex-direction: column;
    }
  }

  &__questions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 80px 0;

    @media (max-width: 800px) {
      padding: 60px 0 0;
      &:last-child {
        padding-top: 0;
      }
    }

    &-title {
      font-family: Georgia, "Times New Roman", Arial, serif;
      color: #fff;
      font-size: 35px;
      letter-spacing: 0.1em;

      margin-bottom: 35px;

      @media (max-width: 400px) {
        font-size: 25px;
      }
    }

    &-content {
      text-decoration: none;
      display: flex;
      align-items: center;
      margin-bottom: 35px;
      transition: transform 0.3s;

      &--last {
        margin-bottom: 0;
      }

      &:hover {
        transform: scale(1.1);
      }
    }

    &-img {
      margin-right: 15px;
    }

    &-link {
      text-decoration: none;
      font-family: "Times New Roman", Arial, serif;
      color: $logo-color;
      font-size: 20px;
      letter-spacing: 0.1em;

      @media (max-width: 400px) {
        font-size: 16px;
      }
    }
  }

  &__bg-img {
    position: absolute;
    bottom: 0;
    right: 0;

    @media (max-width: 1060px) {
      display: none;
    }
  }
}
