.header {
  background-image: url(../images/Background-header.png);
  background-size: cover;
  background-position: center;
  position: relative;

  &__content {
    height: 595px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 60px 0 270px;
  }

  &__img-wrap {
    position: absolute;
    right: 0;
    top: 150px;

    @media (max-width: 1000px) {
      display: none;
    }
  }

  &__img {
    width: 850px;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    text-decoration: none;
    padding: 10px;

    position: relative;
    right: 10px;

    &--company {
      font-family: Georgia, "Times New Roman", Arial, serif;
      font-size: 32px;
      color: $logo-color;
      letter-spacing: 0.08em;
    }

    &--discription {
      font-family: Arial, serif;
      font-size: 13px;
      color: #fff;
      letter-spacing: 0.13em;
    }
  }

  &__nav {
    display: flex;
    position: relative;
    gap: 35px;

    @media (max-width: 950px) {
      display: none;
    }
  }

  &__link {
    text-decoration: none;
    color: #cdcdcd;
    font-family: Arial, serif;
    font-weight: bold;
    font-size: 15px;
    padding: 15px 0;
    width: fit-content;

    &::after {
      content: "";
      display: block;
      opacity: 0;
      height: 2px;
      background-color: $logo-color;
      margin-top: 10px;

      transition: all 0.3s;
    }

    &:hover::after {
      opacity: 1;
    }
  }

  &__main-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    position: relative;
    right: 10px;
  }

  &__title {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: normal;
    color: #fff;
    font-size: 44px;

    padding-bottom: 45px;
  }

  &__discription {
    font-family: Arial, serif;
    font-weight: normal;
    color: $text-color;
    font-size: 15px;

    max-width: 500px;
  }

  &__button-link {
    width: 205px;
    text-decoration: none;
    border: 2px solid $logo-color;
    background-color: $logo-color;
    padding: 15px;
    border-radius: 40px;
    text-align: center;

    margin-top: 45px;

    font-family: Georgia, "Times New Roman", Arial, serif;
    font-weight: bold;
    color: $text-color2;
    font-size: 17px;
    letter-spacing: 0.1em;

    &:hover {
      background-color: #fff;
    }
  }

  &__menu-open {
    display: none;
    width: 35px;
    height: 35px;
    background-image: url(../images/media_icon.svg);

    &:hover {
      background-image: url(../images/menu_navigation_icon.svg);
    }

    @media (max-width: 950px) {
      display: block;
    }
  }
}
