.menu {
  height: 100vh;
  width: 100%;
  background-image: url(../images/Background-header.png);
  background-repeat: no-repeat;
  background-size: cover;
  transform: translate(-100%);


  &__content {
    height: 595px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 60px 0 270px;
  }

  &__nav {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &--li {
      width: fit-content;
      margin-top: 20px;
    }
  }

  &__link {
    text-decoration: none;
    color: #cdcdcd;
    font-family: Arial, serif;
    font-weight: bold;
    font-size: 20px;
    padding: 15px 0;
    width: fit-content;

    &::after {
      content: "";
      display: block;
      opacity: 0;
      height: 2px;
      background-color: $logo-color;
      margin-top: 15px;

      transition: all 0.3s;
    }

    &:hover::after {
      opacity: 1;
    }
  }

  &__close {
    width: 25px;
    height: 25px;
    background-image: url(../images/cross_delete_icon.svg);
    padding-right: 10px;
    background-repeat: no-repeat;
  }

}
